 .page.theme_light {
  --accent-color:#FF8DCB;
  --text-color:#353430;
  --decor-color:#353430;
  --title-color:#FFC2E6;
  --text-description-color:#353430;
  --title-shadow-color:#FF0070;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color:#FFC2E6;
  --hover-button:rgb(53 52 48 / 0.4);
  --display:none;
  }
@media (prefers-color-scheme: light) {
  .page {
    --accent-color:#FF8DCB;
  --text-color:#353430;
  --decor-color:#353430;
  --title-color:#FFC2E6;
  --text-description-color:#353430;
  --title-shadow-color:#FF0070;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color:#FFC2E6;
  --hover-button:rgb(53 52 48 / 0.4);
   }
   .header {
    background-image: var(--bg-image);
   }
   .decorated-dark {
    display: var(--display);
   }
   .neon-circle {
    display: var(--display);
   }
}
