/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  width: 1024px;
  max-width: 1024px;
  min-width: 375px;
  background-image: var(--bg-image);
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  font-family: var(--text-font);
  overflow-x:hidden;
}
.header {
  display: grid;
  grid-template-rows: repeat(auto-fit, 248px);
  width: 1024px;
  height: 768px;
  font-weight: var(--text-weight);
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.decorated-dark {
  display: var(--display);
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
  margin-inline-start: 943px;
  margin-block-start: 6px;
  
}
.decorated-dark + .neon-circle {
  display: var(--display);
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color:var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-block-start: 15px;
  margin-inline-start:982px ;
}
.head-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 129.53px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  align-self: center;
}
.title-description {
  max-width: 491px;
  height: 71px;
  font-size: var(--text-size);
  line-height: var(--size-of-line);
  color: var(--text-color);
  margin-inline-start: 508px;
  margin-block-start: 52px;
}
.title-decor {
  background-color:var(--accent-color);
}
.pseudo_border {
  position: absolute;
  width: 25px;
  height: 25px;
  color: var(--decor-color);
}
.top-right {
  border-block-start: 1px solid;
  border-inline-end: 1px solid;
  margin-block-start: 7px;
  margin-inline-start: 973px;
}
.bottom-left {
  border-block-end: 1px solid;
  border-inline-start: 1px solid;
  margin-block-start: 710px;
  margin-inline-start: 14px;
}
.header__theme-menu-list {
  display: flex;
  margin-inline-start: 384px;
  margin-block-start: 7px;
  font-weight: var(--min-text-weight);
  font-size: var(--text-size);
  line-height: 18px;
  text-align: center;
}
.header__theme-menu-item {
  min-width: 70px;
  height: 26px;
  color: var(--decor-color);
  padding-inline-start: 13px;
  padding-inline-end: 13px;
}
.header__theme-menu-button {
  background-color: transparent;
  border: none;
}
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decor-color);

}
.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button);
}
.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline var(--decor-color);
  text-underline-position: under;
}

.main_inform {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-around;
  margin-block-start: var(--left-margin);
  line-height: var(--size-of-line);
  margin-inline-end: var(--right-margin);
  gap: 30px;
}
.main_different-indent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-block-start: 26px;
  line-height: var(--size-of-line);
  margin-inline-end: var(--right-margin);
  gap: 30px;
}
.main_table {
  display: grid;
  gap: 12px;
}
.section_title {
  font-weight: var(--text-weight);
  font-size: var(--text-size);
  color: var(--decor-color);
  margin-inline-start:var(--left-margin);
}

.main_table-item-title {
  font-weight: var(--text-weight);
  font-size: var(--text-size);
  color:var(--text-color);
  background-color: var(--accent-color);
}
.main_table-item-text {
  font-weight: var(--min-text-weight);
  font-size: var(--text-size);
  color: var(--text-description-color);
  margin-block-start: 10px;
  margin-block-end: 10px;
}
.main_link-line {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.main_link:hover {
  border-bottom: 1px solid var(--text-description-color);
  
}
.main_link-line:focus-visible {
  outline: 1px solid var(--text-description-color);
}
.main_inform_another-direction {
  display: grid;
  grid-template-rows:0.4fr 2fr;
  width: 1024px;
  margin-block-start: 70px;
  
  
}
.main_table_another-direction {
  display: grid;
  grid-template-columns: repeat(auto-fit, 315px);
  margin-inline-start: var(--left-margin);
  margin-block-start: 20px;
  gap: 20px;
}
.main_table-item-title_resize {
  
  font-weight: var(--min-text-weight);
  color: var(--text-color);
  background-color: var(--accent-color);
}
.set_images {
  margin-block-start: 70px;
  
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}
.image_direction {
 
  display: grid;
  grid-template-columns: repeat(auto-fit, 314px);
  grid-template-rows: repeat(auto-fit, 260px);
  grid-auto-flow: row;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
    gap: 20px;
    padding-block-start: 20px;
}
.sunset { 
	grid-area: sunset;
  background-image: url(../images/sunset.png);
  width: 649px;
  height: 260px;
  background-size: contain;
 }

.ice-cream { 
	grid-area: ice-cream;
  background-image: url(../images/ice-cream.png);
  width: 315px;
  height: 595px;
 }

.tape { 
	grid-area: tape;
  background-image: url(../images/tape.png);
  width: 315px;
  height: 768px;
  background-size: cover;
 }

.street { 
	grid-area: street;
  background-image: url(../images/street.png);
  width: 649px;
  height: 428px;
 
  background-size: contain;
 }

.books { 
	grid-area: books;
  background-image: url(../images/books.png);
  width: 315px;
  height: 315px;
  background-size: cover;
 }
 .image-position {
  
  background-position: center;
  object-fit: contain;
 }

.footer {
  display: grid;
  width: 1024px;
  height: 768px;
  margin-block-start: 50px;
}
.footer-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 129.53px;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  align-self: center;
  text-align: center;
}

@media (768px <= width < 1024px) {
  .page {
    width: 768px;
  }
  .decorated-dark {
    
    margin-inline-start: 717px;
    
    
  }
  .decorated-dark + .neon-circle {
   
    margin-inline-start:760px ;
  }
  .top-right {
   
    margin-inline-start: 753px;
  }
  .header__theme-menu-list {
    display: grid;
    margin-inline-start: 470px;
    margin-inline-end: 20px;
    margin-block-start: 192px;
  }
  .title-description {
    max-width: 404px;
    min-height: 100px;
    font-size: var(--text-size);
    line-height: var(--size-of-line);
    color: var(--text-color);
    margin-inline-start: 364px;
    margin-block-start: 52px;
    
  }
  .main_inform {
    max-width: 768px;
    display: grid;
    
    margin-block-start: var(--left-margin);
    line-height: var(--size-of-line);
    margin-inline-end: var(--right-margin);
    gap: 30px;
  }
  .main_different-indent {
    display: grid;
    max-width: 786px;
    grid-template-columns: 1fr 2fr;
    margin-block-start: 26px;
    line-height: var(--size-of-line);
    margin-inline-end: var(--right-margin);
    gap: 30px;
  }
  .main_inform_another-direction {
    max-width: 768px;
  }
  .main_table_another-direction {
    display: flex;
    flex-direction: column;
    margin-inline-start: var(--left-margin);
    margin-block-start: 20px;
    gap: 20px;
  }
  .set_images {
    width: 808px;
  }
  .image_direction {
 
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fit, 190px);
    grid-auto-flow: row;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
      gap: 20px;
      padding-block-start: 20px;
  }
  .sunset {  
    width: 519px;
    height: 192px;
    background-size: cover;
   }
  .ice-cream { 
    width: 229px;
    height: 461px;
   }
  .tape { 
    width: 249px;
    height: 568px;
   }
  .street { 
    width: 499px;
    height: 298px;
    background-size: contain;
   }
  .books { 
    width: 250px;
    height: 250px;
    
   }
   .footer {
    width: 786px;
   }
   .footer-title {
    align-self: center;
   }
}

@media (375px <= width < 768px) {
  
  .decorated-dark {
    margin-inline-start: 340px;
  }
  .decorated-dark + .neon-circle {
    margin-inline-start:380px ;
  }
  .top-right {
   
    margin-inline-start: 370px;
  }
  .header__theme-menu-list {
    display: grid;
    width: 100px;
    margin-inline-start: 310px;
    margin-inline-end: 20px;
    margin-block-start: 72px;
  }
  .head-title {
    max-width: 355px ;
  }
  .title-description {
    max-width: 370px;
    min-height: 100px;
    font-size: var(--text-size);
    line-height: var(--size-of-line);
    color: var(--text-color);
    margin-inline-start: 10px;
    margin-block-start: 52px;
    
  }
  .section_title {
    margin-inline-start: 0px;
    margin-inline-end: var(--right-margin);
  }
  .main_inform {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    margin-block-start: var(--left-margin);
    line-height: var(--size-of-line);
    margin-inline-end: var(--right-margin);
    margin-inline-start: 10px;
    gap: 30px;
  }
  .main_different-indent {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin-block-start: 26px;
    line-height: var(--size-of-line);
    margin-inline-end: var(--right-margin);
    margin-inline-start: 10px;
    gap: 30px;
  }
  .main_inform_another-direction {
    max-width: 375px;
    max-height: 1119px;
    margin-inline-start: 10px;
  }
  .main_table_another-direction {
    display: flex;
    flex-direction: column;
    margin-inline-start: var(--left-margin);
    margin-block-start: 0px;
    margin-inline-start: 0;
    gap: 20px;
  }
  .set_images {
    width: 375px;
    height:1400px;
    padding-inline-start: 10px;
  }
  .main_table-item-title {
    min-width: 375px;
  }
  .image_direction {
 
    display: flex;
    flex-direction: column;
      gap: 10px;
      padding-block-start: 10px;
  }
  .sunset {  
    width: 375px;
    height: 142px;
    background-size: cover;
   }
  .ice-cream { 
    width: 375px;
    height: 375px;
   }
  .tape { 
    width: 375px;
    height: 237px;
   }
  .street { 
    width: 375px;
    height: 237px;
    background-size: contain;
   }
  .books { 
    width: 375px;
    height: 375px;
    
   }
   .footer {
    width: 375px;
   }
   .footer-title {
    align-self: center;
   }
}
