:root {
  --accent-color:#FF0070;
  --text-font: IBM Plex Mono, sans-serif;
  --decor-color:#FF0070;
  --title-shadow-color:#FF0070;
  --text-color:#000028;
  --title-color:#DB00FF;
  --text-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);;
  --size-of-line:23.4px;
  --text-weight:700;
  --min-text-weight:400;
  --text-size-of-line:18px;
  --right-margin:20px;
  --left-margin:20px;
  --text-description-color:#F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color:#000028;
  --hover-button:rgb(255 0 112 / 0.4);
  --display:none;
}

